<div class="flex flex-row h-14 items-center ml-4 mr-4">
    <div class="basis-64">
        <span class="text-2xl font-medium">Vivar Studios</span>
    </div>

    <!-- separator -->

    <!-- swith dark/white mode  -->
    <span>
        Dark
        <label class="toggle text-base-content">
            <input id="theme-switch" type="checkbox" />
            <svg aria-label="disabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 6 6 18" />
                <path d="m6 6 12 12" />
            </svg>
            <svg aria-label="enabled" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g stroke-linejoin="round" stroke-linecap="round" stroke-width="4" fill="none" stroke="currentColor">
                    <path d="M20 6 9 17l-5-5"></path>
                </g>
            </svg>
        </label>
    </span>


    <!-- links to social networks -->

    <!-- contact me button -->
</div>