@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html,
body
{
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
  scroll-behavior: smooth;
}

body
{
    scroll-snap-type: y mandatory;
    scroll-padding-top: 56px;
    scroll-behavior: smooth;
}

.webgl
{
    outline: none;
    width: 100%;
    flex-grow: 1;
}


vivar-header 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.section-container {
    position: fixed;
    top: 56px;
    left: 0;
    width: 100%;
    height: calc(100vh - 56px);
    overflow-y: scroll;

    scroll-snap-type: y mandatory;
}

.section
{
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    font-family: 'Cabin', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    scroll-snap-align: end;
    scroll-margin-top: 20px;
}

footer {
    
    scroll-snap-align: end;
}
