@import 'tailwindcss';
@plugin "daisyui";

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat-jtusjig1_i6t8kchkm459wlhyw.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('https://fonts.gstatic.com/s/montserratalternates/v18/mFTiWacfw6zH4dthXcyms1lPpC8I_b0juU0xTIHFB7xG-GNxkg.woff2') format('woff2');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}



html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100dvh;
}

html {
    scroll-behavior: smooth;
    background-color: cadetblue;
    color: black;
}

body,
button,
input,
textarea,
select {
    font-family: 'Montserrat', sans-serif;
}

.font-sans {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat Alternates', 'Montserrat', sans-serif;
}

.app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.section-container {
    flex: 1;
    min-height: 0;

    display: flex;
    flex-direction: column;

    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.section {
    flex: 0 0 100%;
    min-height: 0;
    box-sizing: border-box;

    scroll-snap-align: start;

    display: flex;
    flex-direction: column;
    align-items: center;
   
    background-image: linear-gradient(
        to top, 
        rgba(250, 250, 250,1), 
        rgba(250, 250, 250,0.1), 
        transparent, 
        transparent,
        rgba(250, 250, 250,0.1), 
        rgba(250, 250, 250,1));
}

.dock {
    position: static;
}
